body {
    background-color: #f0f0f0;
    color: rgb(10, 59, 10);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.heading {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

h1 {
    text-align: center;
}

.blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.block {
    flex: 1;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message {
    padding: 0.5em;
    background-color: rgb(171, 240, 128);
    margin-bottom: 1em;
    border-radius: 0.5em;
}

.input > label {
    display: inline-block;
    width: 10em;
    padding: 0.5em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.input > input[type="text"] {
    padding: 0.5em;
    margin: 0.5em 0;
}

.widget {
    flex: 1;
    border: 1px solid rgb(122, 228, 255);
    background-color: #f9f9f9;
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.widgets {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
